// ================== ADJUSTMENT ==================
*
  box-sizing: border-box

html, body
	height: 100%
	font-family: 'Raleway', sans-serif
	color: white
  -webkit-font-smoothing: antialiased

body
	display: table
	width: 100%
	background: tomato

.container
	display: table-cell
	height: 100%
	min-height: 100%
	padding: 10px
	text-align: center
	vertical-align: middle